<% product ||= @product %>

<%= form_for :order, :url => populate_orders_path, :html => {:id => 'cart-form'} do |f| %>
  <div id="inside-product-cart-form-<%=product.id%>" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <% if product.price_in(current_currency) and !product.price.nil? %>
      <%= hidden_field_tag :quantity, 1 %>
      <div data-hook="product_price" class="mini-cart ">
        <span class="inside-room-cart-form-<%=variant_id%>-<%=rate_id ? rate_id : "null"%>" >
          <input type="hidden" id="template-hidden-<%=variant_id%>-<%=rate_id ? rate_id : "null"%>" >
          <%= hidden_field_tag :variant_id, variant_id %>
          <%= hidden_field_tag :rate_id, rate_id if rate_id%>
        </span>
        <script type="text/javascript">
          $(document).ready(function () {
            fill_cart_hiddens_room(<%= product.id %>, <%= variant_id %>,<%=rate_id ? rate_id : "null"%>, "<%=product.product_type.name%>" )
          });
        </script>
        <%= button_tag :class => 'btn btn-success', :id => "add-to-cart-button-#{product.id}", :type => :submit do %>
            <%= Spree.t(:add_to_cart) %>
        <% end %>
      </div>
    <% else %>
      <div id="product-price">
        <br>
        <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
      </div>
    <% end %>

    </div>
<% end %>
